/* COMMON STYLES */

body{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

img{
    width: 100%;
}

/* не срабатывает */
header{ 
    padding-bottom: 2em;
}

header h1{
    font-size: 1.62em;
    font-weight: 800;
    padding: .5em 0;
    color: #444;
}

/* не срабатывает */
section{
    padding: 3em 0;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

@media (max-width:1220px){
    .container{
        width: 800px;
    }
}

.row-3>*{
    display: inline-block;
    width: 33%;
    vertical-align: top;
}

/* COMMON ADAPTIVE STYLES */


/* AWESOME FEATURES STYLES */

.features img{
    transform: scale(0.75);
    transform-origin: top;
    vertical-align: middle;
}

.features h2{
    font-size: 1em;
    color: #444;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1em 1.9em;
    position: relative;
}

.features .row-3 .text-right i{
    position: relative;
    color: #ccc;
    font-size: 1.8em;
    bottom: -1em;
    left: 1.2em;
}

.features .row-3 .text-left i{
    position: relative;
    color: #ccc;
    font-size: 1.8em;
    bottom: -1em;
    left: -1.2em;
}

.features p{
    line-height: 1.5em;
    padding: 1.5em 2.5em;
    color: #777;
}


/* FEATURES ADAPTIVE STYLES */
@media (max-width:1220px){
    .container{
        width: 100%;
    }

    .features .row-3>*{
        width: 49%;
        margin: auto;
    }

    .features figure{
        display: none;
    }

    .features h2{
        padding: 1em 3em;
    }

    .features p{
        padding: 1.5em 2.5em;
    }
} 

@media (max-width:630px){
    .container{
        width: 95%;
        margin: 5%;
    }
    .features .row-3>*{
        /* display: block; */
        width: 100%;
        margin: auto;
        text-align: left;
    }

    .features figure{
        display: none;
    }

    .features h2{
        padding: 1.5em 2.2em;
        position: relative;
    }

    .features p{
        padding: 1em 1.5em;
    }

    .features .row-3 .text-right i{
        position: absolute;
        color: #ccc;
        font-size: 1.5em;
        bottom: -0.3em;
        left: -0.5em;
    }

    .features .row-3 .text-left i{
        position: absolute;
        color: #ccc;
        font-size: 1.5em;
        bottom: -0.3em;
        left: -0.5em;
    }
} 